{% extends 'admintemplates/index.html' %}
{% load static %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.17.0/font/bootstrap-icons.css">

{% block content %}

<style>
    /* Additional styles for the card layout */
    .card {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
    }

    .card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    /* Add margin between cards */
    .card-container {
        margin-bottom: 15px;
    }
</style>

<a href="{% url 'adminpage' %}" class="btn btn-primary">Back To Dashboard</a>

<!-- Button for creating a coupon -->
<a href="{% url 'create_list_coupen' %}" class="btn btn-primary">Create Coupon</a>

<div class="d-flex flex-wrap mt-3">
    {% for coupon in coupons %}
    <div class="col-sm-6 card-container">
        <div class="card border-success" style="max-width: 18rem;">
            <div class="card-header bg-transparent border-success">
                <h3>{{ coupon.code }}</h3>
            </div>
            <div class="card-body text-secondary">
                <p class="card-text">
                    <p>Discount Amount: {{ coupon.discount }}</p>
                    <p>Valid From: {{ coupon.valid_from }}</p>
                    <p>Valid To: {{ coupon.valid_to }}</p>
                    <p>Minimum Amount: {{ coupon.min_amount }}</p>
                </p>
            </div>
            <div class="card-footer bg-transparent border-success">
                <a href="{% url 'edit_coupon' coupon.id %}" class="btn btn-primary">
                    <i class="bi bi-pencil-square"></i> Edit Coupon
                </a>
                <br><br>
                <a href="{% url 'delete_coupon' coupon.id %}" class="btn btn-primary">
                    <i class="bi bi-trash"></i> Delete Coupon
                </a>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="col-12 mt-3">
        <p>No coupons available.</p>
    </div>
    {% endfor %}
</div>


{% endblock content %}