{% extends 'admintemplates/index.html' %}
{% load static %}


{% block content %}
<table class="table table-hover tm-table-small tm-product-table">
    <thead>
      <tr>
     
        <th scope="col">Order.No</th>
        <th scope="col">User Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Order.Date</th>
        <th scope="col">Amount</th>
        <th scope="col">Pyment Status</th>
        <th scope="col">Order Status</th>
        <th scope="col">Change Order Status</th>
        <th scope="col">Order Details</th>
        
         
        

        
      
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        
          <td>{{ order.order_number }}</td>
          <td> {{ order.user }}</td>
          <td>{{ order.address.ultranate_phone }}</td>
          
          <td>{{ order.created_at }}</td>
          <td>{{ order.payment.amount_paid }}</td>
          <td>{{ order.payment }}</td>
          <td style="color: {% if order.status == 'New' %}blue{% elif order.status == 'Delivered' %}green{% elif order.status == 'Pending' %}orange{% elif order.status == 'Cancelled' %}red{% endif %}">{{ order.status }}</td>
        
          <td>
              <form method="POST" action="{% url 'edit_order' order.id %}">
                  {% csrf_token %}
                  <select name="status">
                      <option value="New" {% if order.status == 'New' %}selected{% endif %}>New</option>
                      <option value="Pending" {% if order.status == 'Pending' %}selected{% endif %}>Pending</option>
                      <option value="Confirmed" {% if order.status == 'Confirmed' %}selected{% endif %}>Confirmed</option>
                      <option value="out for shipping" {% if order.status == 'out for shipping' %}selected{% endif %}>out for shipping'</option>
                      <option value="Delivered" {% if order.status == 'Delivered' %}selected{% endif %}>Delivered</option>
                      <option value="Cancelled" {% if order.status == 'Cancelled' %}selected{% endif %}>Cancelled</option>

                  </select>
                  <button type="submit">Change</button>
              </form>
          </td>
        
          <td><a href={% url 'order_product' order.id %}> <button>Details</button></a></td>
      </tr>
      {% endfor %}
  </tbody>
  <a href='{% url 'adminpage' %}' class="btn btn-primary"> Back To Dashboard</a>

{% endblock content %}