{% extends 'admintemplates/index.html' %}
{% load static %}


{% block content %}

   
    <div class="container mt-5">
      <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="tm-product-table-container">
              <a href='{% url 'adminpage' %}' class="btn btn-primary"> Back To Dashboard</a>
              <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                  <tr>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">PRODUCT NAME</th>
                    <th scope="col">PRODUCT CATEGORY</th>
                     <th scope="col">PRICE</th>
                     <th scope="col">IMAGE</th>
                    <th scope="col">IN STOCK</th> 
                    
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                {% for product in product %}
                <tbody>

                  <tr>
                    <th scope="row"><input type="checkbox" /></th>
                    
                    <td>{{product.name}}</td>
                    </a>
                    <td>{{product.category}}</td>
                    <td>{{product.price}}</td>
                    <td><img src="{{product.image.url}}"></td>
                    <td>{{product.quantity_in_stock}}</td>
                    
                    </td>
              
                   
                    <td>
                      <a href="{% url 'delete_product' product.id %}" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                      <a href="{% url 'edit_product' product.id %}" class="tm-product-delete-link">
                        <i class="far fa-edit tm-product-edit-icon"></i>
                      </a>
                      <a href="{% url 'varient' product.id %}" class="tm-product-delete-link">
                        Varient
                      </a>
                    </td>
                    {% endfor %}
                  </tr>
                </tbody>
                
                      
              </table>
            </div>
            <!-- table container -->
            <a
              href="{% url 'add_products' %}"
              class="btn btn-primary btn-block text-uppercase mb-3">Add new product</a>
            <!-- <button class="btn btn-primary btn-block text-uppercase">
              Delete selected products
            </button> -->
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
            <h2 class="tm-block-title">Product Categories</h2>
            <div class="tm-product-table-container">
              <table class="table tm-table-small tm-product-table">
                <tbody>
                  {% for categories in categories %}
                  <tr>
                    <td class="tm-product-name">
                      <a href="{% url 'productbycategories' categories.id %}" class="text-white"><td>{{ categories.name }}</a>
                    </td>
                    <td class="text-center">
                      <a href="{% url 'delete_category' categories.id %}" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                               
                </tbody>
              </table>
            </div>
        
            <!-- table container -->
              <button class="btn btn-primary btn-block text-uppercase mb-3">
              <a href="{% url 'add_category' %}">Add new category</a>
            </button> 
         
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
            <h2 class="tm-block-title">Product varients</h2>
            <div class="tm-product-table-container">
              <table class="table tm-table-small tm-product-table">
                <tbody>
                  {% for varient in varients %}
                  <tr>
                    <td class="tm-product-name">
                      <a href="" class="text-white"><td>{{ varient.product }}</a></td>
                      <a href="" class="text-white"><td>{{ varient.size }}</a></td>
                      <a href="" class="text-white"><td>{{ varient.price }}</a></td>
                    
                    <td class="text-center">
                      <a href="{% url 'delete_varient' varient.id %}" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                               
                </tbody>
              </table>
            </div>
            <!-- table container -->
             {% comment %} <button class="btn btn-primary btn-block text-uppercase mb-3">
              <a href="{% url 'varient' %}">Add Product Varient</a>
            </button> 
            {% endcomment %}
          </div>
        </div>
        {% endblock content %}
   