{% extends 'base.html' %}
{% load static%}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="products-breadcrumb">

	<div class="container">
		<ul>
			<li><i class="fa fa-home" aria-hidden="true"></i><a href="{% url 'home' %}">Home</a><span>|</span></li>
			<li>Checkout</li>
		</ul>
	</div>
</div>

	
	<div class="w3l_banner_nav_right">

		
<!-- about -->

<div class="container">
<div class="privacy about">
	<h3>Checkout</h3>
</div>
<div class="checkout-container">
	<div class="checkout-left">
		<div class="col-md-4 checkout-left-basket">
			<div class="card border-success mb-3" style="max-width: 18rem;">
				<div class="card-header">
					<a href="{% url 'view_cart' %}">
						<h4>Continue to basket</h4>
					</a>
				</div>
				<div class="card-body text-success">
					<ul>
						{% for item in cart_items %}
						<li>{{item.Product.name}} <i>-</i> <span>RS.{{item.sub_total}} </span></li>
						{% endfor %}
						<li id="li_total">Sub Total <span>{{cart_total}}</span></li>
					</ul>
				</div>
			</div>
		</div>
		<form id="addressForm">
			{% if address %}
			<div class="row">
				{% for ads in address %}
				<div class="col-sm-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title"><h2>{{ads.name}}</h2></h5>
							<p class="card-text">
								<h5>
									{{ads.house}}, {{ads.place}}, {{ads.address_line}},<br>
									Phone number: {{ads.ultranate_phone}}
								</h5>
							</p>
							<br>
							<br>
							<div class="address-actions">
								<a href="{% url 'edit_address' ads.id %}" class="mb-5 btn btn-warning">
									Edit
								</a>
								<a href="{% url 'delete_address' ads.id %}" class="mb-5 btn btn-danger">delete	</a>
								<a href="{% url 'payment_page' ads.id %}" class="mb-5 btn btn-success">Deliver Here</a>
							</div>
							<style>.address-actions {
								display: flex;
								justify-content: flex-start; /* Change this to align items according to your requirements */
								align-items: center; /* Change this to align items according to your requirements */
							}
							
							.address-actions a {
								margin-right: 10px; /* Adjust the margin as per your preference */
							}
						</style>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			{% else %}
			<h2>Register Your Address.</h2>
			{% endif %}
		</form>
		<br>
		<div class="col-md-12">
			<a href="{% url 'address-create' %}" class="btn btn-success btn-sm mt-5">Add New Address</a>
		</div>
	</div>
</div>
<div class="checkout-right-basket">
	

</div>

	  
</div>
<style>


.privacy.about h3 {
color: #333;
}

.checkout-container {
display: flex;
justify-content: space-between;
}

.checkout-left {
flex: 1;
margin-right: 20px;
}

.checkout-left-basket {
padding: 10px;
background-color: #f2f2f2;
}

.checkout-left-basket ul {
list-style-type: none;
padding: 0;
}

.checkout-left-basket li {
margin-bottom: 5px;
}

.card {
margin-bottom: 20px;
}

.card-title {
margin-bottom: 10px;
}

.checkout-right-basket {
background-color: #f2f2f2;
padding: 10px;
}

</style>
{% endblock %}