{% extends 'base.html' %}
{% load static%}
{% block content %}
<div class="products-breadcrumb">
	<div class="container">
		<ul><li><i class="fa fa-man" aria-hidden="true"></i><a href="{% url 'user_profile' %}" class="">Back</a><span>|</span></li>
			<li><i class="fa fa-home" aria-hidden="true"></i><a href="index.html">Home</a><span>|</span></li>
			<li>My Orders</li>
		</ul>
	</div>
</div>
<style>
	.tm-product-table {
	  border: 1px solid #ccc;
	  padding-left: 20px;
	  
	}
	.tm-table-small {
		width: 100%;
		border-collapse: collapse;
		margin-top: 20px;
		padding: 20px; /* Add padding to the table */
	  }
  
	  .tm-table-small th,
	  .tm-table-small td {
		padding: 8px;
		text-align: left;
		border: 1px solid #ccc;
	  }
  
	  .tm-table-small th {
		background-color: #f2f2f2;
	  }
  
	  .tm-table-small tbody tr:hover {
		background-color: #f5f5f5;
	  }
  </style>
<table class="table table-hover tm-table-small tm-product-table">
    <thead>
        <tr>
          <th scope="col">Image</th>
  
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Order.Date</th>      
       </tr>
      </thead>
      <tbody>
        {% for order in myorder %}
      
        <tr>
         
          <td><img src="{{ order.product.image.url}}"></img></td>
           
            <td>{{ order.product }}</td>
            <td>{{ order.quantity}}</td>
            <td>{{ order.product_price}}</td>
            
            <td>{{ order.created_at }}</td>
          
        </tr>
        {% endfor %}
    </tbody>
                                
                                </table>
								  <!-- <p class="card-text"><small class="text-muted">Size : {{ cart_item.product_variant.size}}</small></p> -->
								  
									</div>
								<!-- <div class="d-flex justify-content-between align-items-center">  
										<a href="" class="card-link btn btn-dark ml-5">Delete from cart</a>
							  
							   </div>	 -->
							</div>
						  </div>
						  
					  

      <br>
	
				
           
		   <br>
		   <br>

		{% endblock %}
			 