{% extends 'base.html' %}
{% load static%}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- //font-awesome icons -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    .tm-table-small {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      padding: 20px; /* Add padding to the table */
    }

    .tm-table-small th,
    .tm-table-small td {
      padding: 8px;
      text-align: left;
      border: 1px solid #ccc;
    }

    .tm-table-small th {
      background-color: #f2f2f2;
    }

    .tm-table-small tbody tr:hover {
      background-color: #f5f5f5;
    }

    /* Additional styles for the page */
    h2 {
      margin-bottom: 20px;
    }

    .card {
      max-width: 400px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 15px;
      margin-bottom: 20px;
    }

    .card-link {
      display: block;
      margin-top: 10px;
      text-align: center;
    }

    .btn-danger {
      background-color: #dc3545;
      color: #fff;
    }
  </style>
  <div class="products-breadcrumb">
	<div class="container">
		<ul><li><i class="fa fa-man" aria-hidden="true"></i><a href="{% url 'user_profile' %}" class="">Back</a><span>|</span></li>
			<li><i class="fa fa-home" aria-hidden="true"></i><a href="index.html">Home</a><span>|</span></li>
			<li>My Orders</li>
		</ul>
	</div>
</div>

<table class="table table-hover tm-table-small tm-product-table">
    <thead>
      <tr>
     
        <th scope="col">Order.No</th>
        <th scope="col">Order.Date</th>
        <th scope="col">Amount</th>
        
        <th scope="col">Order Status</th>
		<th scope="col">Action</th>
        
        <th scope="col">Order Details</th>
        
         
        

        
      
      </tr>
    </thead>
    <tbody>
                            {% for order in orders %}
                            <tr>
        
                                <td>{{ order.order_number }}</td>
                              
                                
                                <td>{{ order.created_at }}</td>
                                <td>{{ order.payment.amount_paid }}</td>

                                <td style="color: {% if order.status == 'New' %}blue{% elif order.status == 'Delivered' %}green{% elif order.status == 'Pending' %}orange{% elif order.status == 'Cancelled' %}red{% endif %}">{{ order.status }}</td>
                                
								
									{% if order.status == 'Delivered' %}
									<td>
									  <button onclick="openPopup('returnPopup')" type="button" class="btn btn-primary" data-toggle="modal" data-target="#returnModal{{ order.id }}">
										Return Order
									  </button>
									
									</td>
								
									
									{% elif order.status == 'Cancelled'%}<td>Cancelled</td>
									{% elif order.status == 'Returned'%}<td>Returned</td>

									{% else %}
									<td>
									  <button onclick="openPopup('cancelPopup')" type="button" class="btn btn-primary " data-toggle="modal" data-target="#cancelModal{{ order.id }}">
										Cancel Order
									  </button>
									</td>
								
									{% endif %}
								 
									<td> <a href="{% url 'myorder_details' order.id %}" class="btn btn-success">Details</a></td>
                              
								  <!-- Cancel Order Modal -->
								  <div id="cancelModal{{ order.id }}" class="modal fade cancelModal">
									<div class="modal-dialog modal-dialog-centered">
									  <div class="modal-content">
										<div class="modal-header">
										  <h5 class="modal-title">Cancel Order</h5>
										  <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closePopup('cancelPopup')">
											<span aria-hidden="true">&times;</span>
										  </button>
										</div>
										<div class="modal-body">
										  <form id="cancelForm" method="POST" action="{% url 'cancel_order' order.id %}">
											{% csrf_token %}
											<textarea name="cancellation_reason" placeholder="Enter cancellation reason" required></textarea>
											<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-danger">Confirm Cancel </button>
										  </form>
										</div>
									  </div>
									</div>
								  </div>
								  
								  <!-- Return Order Modal -->
								  <div id="returnModal{{ order.id }}" class="modal fade returnModal">
									<div class="modal-dialog modal-dialog-centered">
									  <div class="modal-content">
										<div class="modal-header">
										  <h5 class="modal-title">Return Order</h5>
										  <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closePopup('returnPopup')">
											<span aria-hidden="true">&times;</span>
										  </button>
										</div>
										<div class="modal-body">
										  <form id="returnForm" method="POST" action=" {% url 'return_order' order.id %}">
											{% csrf_token %}
											<textarea name="return_reason" placeholder="Enter return reason" required></textarea>
											<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-danger">Confirm Return </button>
										  </form>
										</div>
									  </div>
									</div>
								  </div>
								  
								  <script>
								  function openPopup(popupId) {
									var popup = document.getElementById(popupId);
									popup.style.display = 'block';
								  }
								  
								  function closePopup(popupId) {
									var popup = document.getElementById(popupId);
									popup.style.display = 'none';
								  }
								</script>
                                </tbody>
                                {% endfor %}
                                </table>
								  <!-- <p class="card-text"><small class="text-muted">Size : {{ cart_item.product_variant.size}}</small></p> -->
								  
									</div>
								<!-- <div class="d-flex justify-content-between align-items-center">  
										<a href="" class="card-link btn btn-dark ml-5">Delete from cart</a>
							  
							   </div>	 -->
							</div>
						  </div>
						  
					  

	
				
           
	
		   <br>

		   

		   <br>
		   <br>
		   {% endblock %}