{% extends 'base.html' %}
{% load static%}
{% block content %}
<div class="w3_login">
	<h3>Sign Up</h3>
	<div class="w3_login_module">
		<div class="module form-module">
		  <div class="toggle"><i class="fa fa-times fa-pencil"></i>
			<div class="tooltip">Click Me</div>
		  </div>
		  
		 
		  <div class="form">
			<h2>Create an account</h2>
			<form method="POST" action="{% url 'signup' %}">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Sign Up</button>
			  </form>
		  </div>
		  <div class="cta"><a href="{% url 'forgot_Password' %}">Forgot your password?</a></div>
		</div>
	</div>
	<script>
		$('.toggle').click(function(){
		  // Switches the Icon
		  $(this).children('i').toggleClass('fa-pencil');
		  // Switches the forms  
		  $('.form').animate({
			height: "toggle",
			'padding-top': 'toggle',
			'padding-bottom': 'toggle',
			opacity: "toggle"
		  }, "slow");
		});
	</script>
</div>
{% endblock %}