<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>alinfresh</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Grocery Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="{% static 'css/font-awesome.css'%}" rel="stylesheet" type="text/css" media="all" /> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>

<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<!-- //js -->
 <script src="{% static 'js/okzoom.js' %}"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.css">
  
<link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script src="{% static 'js/jquery.elevateZoom.min.js' %}"></script>
<script src="{% static 'js/bootstrap-input-spinner.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>
	
<body>
<!-- header -->
	<div class="agileits_header">
		<div class="w3l_offers">
			<a href="products.html">Today's special Offers !</a>
		</div>
		<div class="w3l_search">
			<form action="#" method="post">
				<input type="text" name="Product" value="Search a product..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search a product...';}" required="">
				<input type="submit" value=" ">
			</form>
		</div>
		<div class="product_list_header">  
			<form action="{% url 'view_cart' %}" method="post" class="last">
				{% csrf_token %}
               
                    
                    <input type="submit" name="submit" value="View your cart" class="button" />
            
            </form>
		</div>
		<div class="w3l_header_right">
			<ul>
				<li class="dropdown profile_details_drop">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><span class="caret"></span></a>
					<div class="mega-dropdown-menu">
						<div class="w3ls_vegetables">
							<ul class="dropdown-menu drp-mnu">
								<li><a href="login.html">Login</a></li> 
								<li><a href="login.html">Sign Up</a></li>
							</ul>
						</div>                  
					</div>	
				</li>
			</ul>
		</div>
		<div class="w3l_header_right1">
			<h2><a href="mail.html">Contact Us</a></h2>
		</div>
		<div class="clearfix"> </div>
	</div>
<!-- script-for sticky-nav -->
	<script>
	$(document).ready(function() {
		 var navoffeset=$(".agileits_header").offset().top;
		 $(window).scroll(function(){
			var scrollpos=$(window).scrollTop(); 
			if(scrollpos >=navoffeset){
				$(".agileits_header").addClass("fixed");
			}else{
				$(".agileits_header").removeClass("fixed");
			}
		 });
		 
	});
	</script>
<!-- //script-for sticky-nav -->
	<div class="logo_products">
		<div class="container">
			<div class="w3ls_logo_products_left">
				<h1><a href="index.html"><span>Alin</span> Fresh</a></h1>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="special_items">
					<li><a href="events.html">Events</a><i>/</i></li>
					<li><a href="about.html">About Us</a><i>/</i></li>
					<li><a href="products.html">Best Deals</a><i>/</i></li>
					<li><a href="services.html">Services</a></li>
				</ul>
			</div>
			<div class="w3ls_logo_products_left1">
				<ul class="phone_email">
					<li><i class="fa fa-phone" aria-hidden="true"></i>(+0123) 234 567</li>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:store@grocery.com">store@grocery.com</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
<!-- products-breadcrumb -->
	<div class="products-breadcrumb">
		<div class="container">
			<ul>
				<li><i class="fa fa-home" aria-hidden="true"></i><a href="{% url 'home' %}">Home</a><span>|</span></li>
				<li>Single Page</li>
			</ul>
		</div>
	</div>
<!-- //products-breadcrumb -->
<!-- banner -->
	<div class="banner">
		<div class="w3l_banner_nav_left">
			<nav class="navbar nav_bottom">
			 <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header nav_2">
				  <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
			   </div> 
			   <!-- Collect the nav links, forms, and other content for toggling -->
			   <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
				<ul class="nav navbar-nav nav_1">
					<li><a href="{% url 'home' %}">All</a></li>
					{% for category in links %}
					<li><a href="{{category.get_url}}">{{ category.name }}</a></li>
					{% endfor %}
				
				</ul>
			 </div><!-- /.navbar-collapse -->
			</nav>
		</div>
		<div class="w3l_banner_nav_right">
			<div class="w3l_banner_nav_right_banner3">
				<h3>Best Deals For New Products<span class="blink_me"></span></h3>
			</div>
			<div class="agileinfo_single">
				<h5>{{product.name}}</h5>
				<div class="col-md-4 agileinfo_single_left">
				
					
					<!-- <img id="example" src="{{product.image.url}}" alt=" " class="img-responsive big_img" /> -->
					<div id="img-container">
						<div style="border:none; display:block; position: absolute; z-index:3;" id="lens"></div>
						<img id="featured" src="{{product.image.url}}">
					  </div>
					<script type="text/javascript"  >
      
						window.addEventListener("load", function() {
						  // Get the div element
						  let lens = document.getElementById('lens')
						  lens.style.display = "none"
						  
						  // Remove the div element from the DOM
						 
						});
					  
						document.getElementById('img-container').addEventListener('mouseover', function(){
							imageZoom('featured')
							
						})
						document.getElementById('img-container').addEventListener('mouseout', function(){
						  let lens = document.getElementById('lens')
						  lens.style.display = "none"
							
						})
						
						function imageZoom(imgID){
							let img = document.getElementById(imgID)
							let lens = document.getElementById('lens')
							lens.style.display = "block"
							lens.style.backgroundImage = `url( ${img.src} )`
						
							let ratio = 5
						
							lens.style.backgroundSize = (img.width * ratio) + 'px ' + (img.height * ratio) + 'px';
						
							img.addEventListener("mousemove", moveLens)
							lens.addEventListener("mousemove", moveLens)
							img.addEventListener("touchmove", moveLens)
						
							function moveLens(){
								/*
								Function sets sets position of lens over image and background image of lens
								1 - Get cursor position
								2 - Set top and left position using cursor position - lens width & height / 2
								3 - Set lens top/left positions based on cursor results
								4 - Set lens background position & invert
								5 - Set lens bounds
							
								*/
						
								//1
								let pos = getCursor()
								//console.log('pos:', pos)
						
								//2
								let positionLeft =  pos.x - (lens.offsetWidth / 2)
								let positionTop = pos.y - (lens.offsetHeight / 2)
						
								//5
								if(positionLeft < 0 ){
									positionLeft = 0
								}
						
								if(positionTop < 0 ){
									positionTop = 0
								}
						
								if(positionLeft > img.width - lens.offsetWidth /3 ){
									positionLeft = img.width - lens.offsetWidth /3
								}
						
								if(positionTop > img.height - lens.offsetHeight /3 ){
									positionTop = img.height - lens.offsetHeight /3
								}
						
						
								//3
								lens.style.left = 500 + positionLeft + 'px';
								lens.style.top = positionTop + 'px';
						
								//4
								lens.style.backgroundPosition = "-" + (pos.x * ratio) + 'px -' +  (pos.y * ratio) + 'px'
							}
						
							function getCursor(){
								/* Function gets position of mouse in dom and bounds
								 of image to know where mouse is over image when moved
								
								1 - set "e" to window events
								2 - Get bounds of image
								3 - set x to position of mouse on image using pageX/pageY - bounds.left/bounds.top
								4- Return x and y coordinates for mouse position on image
								
								 */
						
								let e = window.event
								let bounds = img.getBoundingClientRect()
						
								//console.log('e:', e)
								//console.log('bounds:', bounds)
								let x = e.pageX - bounds.left
								let y = e.pageY - bounds.top
								x = x - window.pageXOffset;
								y = y - window.pageYOffset;
								
								return {'x':x, 'y':y}
							}
						
						}
						
						imageZoom('featured')
					  </script>

					
<style>
	#content-wrapper{
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;
  }
  
  /* .column{
	  width: 100%%;
	  padding: 10px;
  
  } */
  
  #featured{
	  max-width: 500px;
	  max-height: 600px;
  
	  cursor: pointer;
	  
  
  }
  
  .thumbnail{
	  object-fit: cover;
	  max-width: 180px;
	  max-height: 100px;
	  cursor: pointer;
	  opacity: 0.5;
	  margin: 5px;
   
  
  }
  
  .thumbnail:hover{
	  opacity:1;
  }
  
  .active{
	  opacity: 1;
  }
  
  #slide-wrapper{
	  margin-top: 30px;
	  max-width: 500px;
	  display: flex;
	  min-height: 100px;
	  align-items: center;
	  margin-left: auto;
	  margin-right: auto;
	  justify-content: space-around;
	 
  }
  
  #slider{
	  width: 440px;
	  display: flex;
	  flex-wrap: nowrap;
	  overflow-x: auto;
	  border: solid 1px #e8e8e8;
	  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  
  }
  
  #slider::-webkit-scrollbar {
		  width: 8px;
  
  }
  
  #slider::-webkit-scrollbar-track {
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  
  }
   
  #slider::-webkit-scrollbar-thumb {
	background-color: #dede2e;
	outline: 1px solid slategrey;
	 border-radius: 100px;
  
  }
  
  #slider::-webkit-scrollbar-thumb:hover{
	  background-color: #18b5ce;
  }
  
  .arrow{
	  width: 30px;
	  height: 30px;
	  cursor: pointer;
	  transition: .3s;
	  
  }
  
  .arrow:hover{
	  opacity: .5;
	  width: 35px;
	  height: 35px;
  }
  
  #img-container{
	  z-index: 1;
	  max-width: 600px;
	  position: relative;
	  display:flex;
	  justify-content: center;
	  align-items: center;
	  border: solid 1px #e8e8e8;
	  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
  }
  
  #lens{
	  z-index: 2;
	  position: absolute;
  
	  height: 400px;
	  width: 400px;
	  border:2px solid black;
	  background-repeat: no-repeat;
	  cursor: none;
  
  }
  .review-section{
	  color: #fff;
	  text-transform: uppercase;
	  height: 100px;
	  
	  max-width: 250px;
	  width: 100%;
	  background-color: #a8a4a0;
	  font-size: 24px;
	  font-family: 'Josefin Sans';
	  padding: 35px 10px;
  }
  </style>
				


				</div>
		
				<div class="col-md-8 agileinfo_single_right">
					<div class="rating1">
						<span class="starRating">
							<input id="rating5" type="radio" name="rating" value="5">
							<label for="rating5">5</label>
							<input id="rating4" type="radio" name="rating" value="4">
							<label for="rating4">4</label>
							<input id="rating3" type="radio" name="rating" value="3" checked>
							<label for="rating3">3</label>
							<input id="rating2" type="radio" name="rating" value="2">
							<label for="rating2">2</label>
							<input id="rating1" type="radio" name="rating" value="1">
							<label for="rating1">1</label>
						</span>
					</div>
					<div class="w3agile_description">
						<h4>Description :</h4>
						<p>{{product.description}}</p>
					</div>
					<div class="snipcart-item block">
						<div class="snipcart-thumb agileinfo_single_right_snipcart">
							
						</div>
<!-- Display variants -->
{% if variants %}
  <h4>Choose The Size:</h4>
  <select id="variantSelect" name="price">
    <option value="{{ product.price }}">Base Price ({{ product.price }})</option>
    {% for variant in variants %}
      <option value="{{ variant.price }}">{{ variant.size }} - Price: {{ variant.price }}</option>
    {% endfor %}
  </select>
{% else %}
  <p>Price: {{ product.price }}</p>
{% endif %}
						<div class="snipcart-details ">
							<button id="addToCartBtn" class="add-to-cart-button btn btn-danger" data-id={{product.id}} >Add To Cart</button>
						</div>
					</div>
					
				</div>
				.

				<style type="text/css">
					ul{list-style-type: none;}
					ul li{float: left; margin-bottom: 10px;}
					ul li img {width: 70px; height: 70px;}
				</style>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
				<ul>
				<li><img onclick="changeImage('{{ product.image.url }}')" src="{{product.image.url}}" alt=" " class="img-responsive big_img" /></li>
				{% for image in product.product_image.all%}
				<li><img onclick="changeImage('{{ image.image.url }}')" src="{{image.image.url}}" alt=" " class="img-responsive small_img" /></li>
				{% endfor %}
			
			    </ul>
				<script>
					function changeImage(imageUrl) {
						
						$('#featured').attr('src', imageUrl);
					}
				</script>
				
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>

	<script>
		const addToCartBtn = document.getElementById('addToCartBtn');
	  
		addToCartBtn.addEventListener('click', function() {
		  addToCartBtn.innerHTML = 'Added to Cart';
	      addToCartBtn.disabled = true;
		  addToCartBtn.classList.remove('btn-danger');
    	  addToCartBtn.classList.add('btn-success');
		  // Additional code to handle the cart functionality
		});
	  </script>
<!-- //banner -->
<!-- brands -->
	<!-- <div class="w3ls_w3l_banner_nav_right_grid w3ls_w3l_banner_nav_right_grid_popular">
		<div class="container">
			<h3>Popular Brands</h3>
				<div class="w3ls_w3l_banner_nav_right_grid1">
					<h6>food</h6>
					<div class="col-md-3 w3ls_w3l_banner_left">
						<div class="hover14 column">
						<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="single.html"><img src="images/5.png" alt=" " class="img-responsive" /></a>
											<p>knorr instant soup (100 gm)</p>
											<h4>$3.00 <span>$5.00</span></h4>
										</div>
										<div class="snipcart-details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="knorr instant soup" />
													<input type="hidden" name="amount" value="3.00" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="USD" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart" class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
						</div>
					</div>
					<div class="col-md-3 w3ls_w3l_banner_left">
						<div class="hover14 column">
						<div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
							<div class="agile_top_brand_left_grid_pos">
								<img src="images/offer.png" alt=" " class="img-responsive" />
							</div>
							<div class="agile_top_brand_left_grid1">
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="single.html"><img src="images/16.png" alt=" " class="img-responsive" /></a>
											<p>sprite bottle (2 ltr)</p>
											<h4>$3.00 <span>$4.00</span></h4>
										</div>
										<div class="snipcart-details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="sprite bottle" />
													<input type="hidden" name="amount" value="3.00" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="USD" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Add to cart" class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							</div>
						</div>
						</div> -->
					</div>
					<div class="clearfix"> </div>
				</div>
		</div>
	</div>
<!-- //brands -->
<!-- newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="w3agile_newsletter_left">
				<h3>sign up for our newsletter</h3>
			</div>
			<div class="w3agile_newsletter_right">
				<form action="#" method="post">
					<input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<input type="submit" value="subscribe now">
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //newsletter -->
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="col-md-3 w3_footer_grid">
				<h3>information</h3>
				<ul class="w3_footer_grid_list">
					<li><a href="events.html">Events</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="products.html">Best Deals</a></li>
					<li><a href="services.html">Services</a></li>
					<li><a href="short-codes.html">Short Codes</a></li>
				</ul>
			</div>
			<div class="col-md-3 w3_footer_grid">
				<h3>policy info</h3>
				<ul class="w3_footer_grid_list">
					<li><a href="faqs.html">FAQ</a></li>
					<li><a href="privacy.html">privacy policy</a></li>
					<li><a href="privacy.html">terms of use</a></li>
				</ul>
			</div>
			<div class="col-md-3 w3_footer_grid">
				<h3>what in stores</h3>
				<ul class="w3_footer_grid_list">
					<li><a href="pet.html">Pet Food</a></li>
					<li><a href="frozen.html">Frozen Snacks</a></li>
					<li><a href="kitchen.html">Kitchen</a></li>
					<li><a href="products.html">Branded Foods</a></li>
					<li><a href="household.html">Households</a></li>
				</ul>
			</div>
			<div class="col-md-3 w3_footer_grid">
				<h3>twitter posts</h3>
				<ul class="w3_footer_grid_list1">
					<li><label class="fa fa-twitter" aria-hidden="true"></label><i>01 day ago</i><span>Non numquam <a href="#">http://sd.ds/13jklf#</a>
						eius modi tempora incidunt ut labore et
						<a href="#">http://sd.ds/1389kjklf#</a>quo nulla.</span></li>
					<li><label class="fa fa-twitter" aria-hidden="true"></label><i>02 day ago</i><span>Con numquam <a href="#">http://fd.uf/56hfg#</a>
						eius modi tempora incidunt ut labore et
						<a href="#">http://fd.uf/56hfg#</a>quo nulla.</span></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<div class="agile_footer_grids">
				<div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
					<div class="w3_footer_grid_bottom">
						<h4>100% secure payments</h4>
						<img src="images/card.png" alt=" " class="img-responsive" />
					</div>
				</div>
				<div class="col-md-3 w3_footer_grid agile_footer_grids_w3_footer">
					<div class="w3_footer_grid_bottom">
						<h5>connect with us</h5>
						<ul class="agileits_social_icons">
							<li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
							<li><a href="#" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#" class="dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="wthree_footer_copy">
				<p>© 2016 Grocery Store. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
	</div>
<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	

	$(".add-to-cart-button").on('click', function() {
		console.log("add to cart button clicked")
	
		var product_id = $(this).data('id');
		var price = $("#variantSelect").val();
        console.log(product_id);
        console.log(price);

	
		data = {
			"product_id": product_id,
			"price": price
			
		};
	
		$.ajax({
			url: "{% url 'add_to_cart' %}",
			method: "GET",
			data: data,
	
			success: function(data) {
				console.log("code run success");
				console.log(data.status);
				console.log(data.message);
			}
		});
	
		// Update the displayed price in the cart
		$("#price").text(price);
	});
	

</script>

		

</body>
</html>